*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0px;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Circular Std', sans-serif;                                    
}
.h1{
    font-weight: 700;
    font-size: 70px;
}
.carousel-item{
    height: 500px;
}
.carousel .carousel-indicators button {
   width: 10px;
   height: 10px;
   border-radius: 100%;
   background-color: red
 }
 .p1{
    color:#F85E9F;
 }
 .p2{
    color: #19182580;
 }
 .p5{
    letter-spacing: 3px;
 }
 .p6{
    font-size: 35px;
 }
 .h3{
    letter-spacing: 3px;
    color: #F85E9F;
 }
 .p7, .p11{
    color: #19182580;
 }
 .p11{
    font-size: 15px;
 }
 .h5{
    color: #FF5722;
    font-size: 30px;;
 }
 .p9{
    color: #FF5722;
 }
 .img5{
    position: absolute;
    margin-top: -1210px;
    margin-left: -850px;
    width: 1700px;
 }
 .img7{
    position: absolute;
    margin-left: -680px;
    margin-top: -100px;
 }
 .img8{
    position: absolute;
    margin-left: 30%;
 }
 .container{
    position: relative;
 }
 .img6{
    position: absolute;
    margin-left: 80%;
    margin-top: 155px;
 }
 .div1{
    position: relative;
 }
.navbar-nav{
    font-size: 15px;
    display: flex;
    width: 480px;
    justify-content: space-between;
}
 

 @media screen and (max-width: 768px){
   .img1{
    width: 400px;
    height: 300px;
   }
   .img2{
    width: 400px;
    height: 366px;
   }
   .img3{
    width: 350px;
    height: 438px;
   }
   .h1{
    font-size:43px;
   }
   .img9{
    width: 132px;
    height: 25px;
   }
    .img10{
    width: 132px;
    height: 23px;
   }
    .img11{
    width: 132px;
    height: 30px;
   }
   .img7, .img8, .img5, .img6{
    display: none;
   }
   .navbar-nav{
    width: auto;
    margin-top: 20px;
   }
}
